# Copy this to .env and fill in your values
WATSONX_APIKEY=UJ-NbQcUHm_azorij-4ScNcsuzWshYgGP4E4ywPM9YzB
WATSONX_PROJECT_ID=fd73b5f6-dce3-4ae9-9a55-e5d6a709f4a8
WATSONX_URL=https://au-syd.ml.cloud.ibm.com
DJANGO_SECRET_KEY=your_random_secret_key_here
DEBUG=True
IBM_HOST=your-app-name.mybluemix.net
